.w-richtext> :not(div):first-child,
                .w-richtext>div:first-child> :first-child {
                    margin-top: 0 !important;
                }

                /* Get rid of bottom margin on last element in any rich text element */

                .w-richtext>:last-child,
                .w-richtext ol li:last-child,
                .w-richtext ul li:last-child {
                    margin-bottom: 0 !important;
                }

                /* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/

                /*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

                /* Prevent all click and hover interaction with an element */

                .pointer-events-off {
                    pointer-events: none;
                }

                /* Enables all click and hover interaction with an element */

                .pointer-events-on {
                    pointer-events: auto;
                }

                /* Snippet enables you to add class of div-square which creates and maintains a 1:1 dimension of a div.*/

                .div-square::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                /*Hide focus outline for main content element*/

                main:focus-visible {
                    outline: -webkit-focus-ring-color auto 0px;
                }

                /* Make sure containers never lose their center alignment*/

                .container-medium,
                .container-small,
                .container-large {
                    margin-right: auto !important;
                    margin-left: auto !important;
                }

                /*Reset selects, buttons, and links styles*/

                .w-input,
                .w-select,
                a {
                    color: inherit;
                    text-decoration: inherit;
                    /*font-size: inherit;*/
                }

                /*Apply "..." after 3 lines of text */

                .text-style-3lines {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                /* Apply "..." after 2 lines of text */

                .text-style-2lines {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                /* Apply "..." at 100% width */

                .truncate-width {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                /* Removes native scrollbar */

                .no-scrollbar {
                    -ms-overflow-style: none; // IE 10+
                    overflow: -moz-scrollbars-none; // Firefox
                }

                .no-scrollbar::-webkit-scrollbar {
                    display: none; // Safari and Chrome
                }

                /* Adds inline flex display */

                .display-inlineflex {
                    display: inline-flex;
                }

                /* These classes are never overwritten */

                .hide {
                    display: none !important;
                }

                @media screen and (max-width: 991px),
                @media screen and (max-width: 767px),
                @media screen and (max-width: 479px) {
                    .hide,
                    .hide-tablet {
                        display: none !important;
                    }
                }

                @media screen and (max-width: 767px) .hide-mobile-landscape {
                    display: none !important;
                }

                }

                @media screen and (max-width: 479px) .hide-mobile {
                    display: none !important;
                }

                }

                .margin-0 {
                    margin: 0rem !important;
                }

                .padding-0 {
                    padding: 0rem !important;
                }

                .spacing-clean {
                    padding: 0rem !important;
                    margin: 0rem !important;
                }

                .margin-top {
                    margin-right: 0rem !important;
                    margin-bottom: 0rem !important;
                    margin-left: 0rem !important;
                }

                .padding-top {
                    padding-right: 0rem !important;
                    padding-bottom: 0rem !important;
                    padding-left: 0rem !important;
                }

                .margin-right {
                    margin-top: 0rem !important;
                    margin-bottom: 0rem !important;
                    margin-left: 0rem !important;
                }

                .padding-right {
                    padding-top: 0rem !important;
                    padding-bottom: 0rem !important;
                    padding-left: 0rem !important;
                }

                .margin-bottom {
                    margin-top: 0rem !important;
                    margin-right: 0rem !important;
                    margin-left: 0rem !important;
                }

                .padding-bottom {
                    padding-top: 0rem !important;
                    padding-right: 0rem !important;
                    padding-left: 0rem !important;
                }

                .margin-left {
                    margin-top: 0rem !important;
                    margin-right: 0rem !important;
                    margin-bottom: 0rem !important;
                }

                .padding-left {
                    padding-top: 0rem !important;
                    padding-right: 0rem !important;
                    padding-bottom: 0rem !important;
                }

                .margin-horizontal {
                    margin-top: 0rem !important;
                    margin-bottom: 0rem !important;
                }

                .padding-horizontal {
                    padding-top: 0rem !important;
                    padding-bottom: 0rem !important;
                }

                .margin-vertical {
                    margin-right: 0rem !important;
                    margin-left: 0rem !important;
                }

                .padding-vertical {
                    padding-right: 0rem !important;
                    padding-left: 0rem !important;
                }

                /* --------Custom CSS----------*/

                * {
                    outline: none;
                }

                body.ar {
                    direction: rtl;
                }

                select {
                    appearance: none;
                    -webkit-appearance: none;
                }

                textarea {
                    resize: vertical;
                }

                .ltr {
                    direction: ltr;
                }

                .rtl {
                    direction: rtl;
                }

                .enquiry-dropdown_dropdown-link .text-size-small.email {
                    text-overflow: ellipsis;
                }

                .headroom {
                    will-change: transform;
                    transition: transform 400ms ease;
                }

                .headroom--pinned {
                    transform: translateY(0%);
                    -webkit-transform: translateY(0%);
                }

                .headroom--pinned:not(.headroom--top) .logo_container {
                    backdrop-filter: blur(32px);
                    -webkit-backdrop-filter: blur(32px);
                }

                .headroom--unpinned {
                    transform: translateY(-150%);
                    -webkit-transform: translateY(-150%);
                }

                /* Logo */

                .logo-link:hover .logo-icon {
                    color: #009639;
                }

                .logo-link:hover .logo-text {
                    color: #000;
                }

                .logo-link.dark .logo-icon {
                    color: #009639;
                }

                .logo-link.dark:hover .logo-icon {
                    color: #000;
                }

                .logo-link.dark:hover .logo-text {
                    color: #000;
                }

                /*Nav Menu*/

                .nav_menu-label {
                    text-overflow: ellipsis;
                }

                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .button-menu {
                    background: #101920;
                    color: #FFF;
                }

                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .nav_menu-label {
                    color: #FFF;
                }

                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .menu-icon_line-top,
                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .menu-icon_line-middle,
                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .menu-icon_line-bottom,
                .nav_wrapper.invert-colors .nav_menu-button:not(.w--open) .menu-icon_line-middle-base {
                    background-color: #FFF;
                }

                .nav_wrapper.invert-colors .enquiry-dropdown_dropdown-toggle {
                    background-color: #f4f4f4;
                    color: #000;
                }

                .enquiry-language_wrapper.show-lang-switch .enquiry-dropdown_dropdown-list {
                    display: none !important;
                }

                .enquiry-language_wrapper.show-lang-switch .enquiry-dropdown_dropdown-toggle-label.lang {
                    display: block;
                }

                .enquiry-language_wrapper.show-lang-switch .enquiry-dropdown_dropdown-toggle-label.enquiry {
                    display: none;
                }

                .enquiry-language_wrapper.show-lang-switch .enquiry-dropdown_dropdown-toggle {
                    opacity: 1 !important;
                }

                /*Newsletter*/

                .sending .cta_newsletter_waiting_notice {
                    display: flex;
                }

                .cta_newsletter_form_button:disabled {
                    opacity: 0.2;
                }

                .cta_newsletter_form_button:disabled:hover {
                    background-image: url('https://assets.website-files.com/63b6ad58a2acb515e1682af0/63b6ad58a2acb55634682ba2_newsletter-submit-black.svg');
                }

                .verticals_accordion.active .vertical_icon {
                    opacity: 0;
                    transform: translate3d(-500px, 0, 0);
                }

                .verticals_accordion.active .vertical_heading {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }

                .two-slides .verticals_accordion:not(.active) {
                    width: 15%;
                }

                @media screen and (max-width: 991px) {
                    .verticals_accordion.active .vertical_icon {
                        transform: translate3d(0, 100px, 0);
                    }
                    .verticals_accordion.active .vertical_heading {
                        transform: translate3d(0, 0, 0);
                    }
                    .two-slides .verticals_accordion,
                    .two-slides .verticals_accordion:not(.active) {
                        width: 100%;
                    }
                    .nav_wrapper .enquiry-language_wrapper {
                        margin-left: auto;
                    }
                }

                @media screen and (max-width: 767px) {
                    .logo-link.dark {
                        width: 65px;
                    }
                    .cta_newsletter_checkboxes {
                        display: inline-flex;
                    }
                }

                /* Landscape */

                @media only screen and (min-device-width: 375px) and (max-device-width: 992px) and (orientation: landscape) {
                    .nav_wrapper .nav_menu.shadow-large {
                        width: 500px;
                    }
                    .nav_wrapper .nav_menu-wrapper {
                        display: block;
                        height: 400px;
                        overflow: scroll;
                        padding-top: 50px;
                    }
                    .nav_wrapper .nav_primary_links {
                        display: inline-block;
                        width: 55%;
                    }
                    .nav_wrapper .nav_secondary_links {
                        display: inline-block;
                        width: 40%;
                    }
                    .nav_wrapper .nav_top {
                        margin-bottom: 1rem;
                    }
                    .nav_wrapper .nav_primary_link {
                        padding: 0.65rem 0;
                    }
                    .nav_wrapper .nav_bottom_link {
                        padding: 0 20px 0 0;
                        position: absolute;
                        bottom: -6px;
                    }
                    .contact .header-contact-details {
                        padding-top: 14rem;
                        padding-bottom: 1rem;
                    }
                }

                /* Arabic */

                body.ar {
                    font-family: 'Clashdisplay', 'Almarai', sans-serif;
                }

                body.ar * {
                    letter-spacing: 0px !important;
                }

                body.ar .enquiry-dropdown_dropdown-link-list {
                    direction: ltr;
                }

                body.ar .heading-style-h2 {
                    line-height: 1.5;
                }